body {
  font-family: Lato, "Open Sans", Verdana, Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @extend .sans-serif;
  @extend .lh-title;
  //@extend .mt3;
  @extend .measure;
  @extend .fw4;
}

h1 {
  @extend .mb5-ns;
  @extend .mb4;
}

h2,
h3,
h4,
h5,
h6 {
  @extend .mb4-ns;
  @extend .mb3;
}

h1 {
  @extend .f1-ns;
  @extend .f2;
}

h2 {
  @extend .f2-ns;
  @extend .f3;
}

h3 {
  @extend .f3-ns;
  @extend .f4;

}
h4 {
  @extend .f4-ns;
  @extend .f5;
}

h5 {
  @extend .f5-ns;
  @extend .f6;
}

h6 {
  @extend .f6-ns;
  @extend .f7;
}

p {
  @extend .f5-ns;
  @extend .f6;
  @extend .lh-copy;
  @extend .measure;
  @extend .mb4-ns;
  @extend .mt0;
  //@extend .mt4-ns;
}

a {
  @extend .no-underline;
  @extend .underline-hover;
  color: #1A82BF;
}

blockquote {
  @extend .serif;
  @extend .i;
  @extend .measure;
  @extend .lh-copy;
  @extend .ml0;
  @extend .mr0;
  @extend .mb4-ns;
  @extend .mt4-ns;
}
