@import "./_variables.scss";
@import "./tachyons.scss";
@import "./globals.scss";
@import "./tachyons-custom.scss";

$blueGradient: linear-gradient(106deg, #0f0c40 0%, #222d5b 16%, #324f77 33%, #407294 50%, #4d98b2 66%, #59c0d0 83%, #64e9f0 100%);
$splitWidth: 5rem;
$splitBackgroundDark: #111824;

//* {border: 1px solid}

.header {
  h1,
  h2,
  h3 {
    @extend .white;
  }

  h1 {
    @extend .ttu;
    @extend .mb5;
    @extend .tracked-light;
  }

  h3 {
    @extend .lh-copy;
    @extend .mb6;
  }
}

.section-dark {
  h1,
  h2,
  h3,
  div,
  p {
    @extend .white;
  }
}

.quote-wrapper {
  blockquote {
    @extend .relative;
    @extend .flex;

    &:after,
    &:before {
      @extend .db;
      @extend .fs-normal;
      @extend .georgia;
      font-size: 5em;
      height: 0.3em;
      line-height: 100%;
      padding: 0;
    }

    &:before {
      content: "“";
      align-self: flex-start;
      @extend .mr2;
    }

    &:after {
      content: "”";
      align-self: flex-end;
      @extend .ml2;
    }
  }
}

.split-left,
.split-right {
  flex-basis: 50%;
  max-width: 50%;
  box-sizing: border-box;
}

.split-row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
}

.split-left {
  padding-right: (0.5 * $splitWidth) + (2 * $gutter);
  padding-left: $gutter;
  position: relative;

  &:after {
    content: "";
    right: -1 * $splitWidth;
    top: 0;
    height: 100%;
    width: 100vw;
    position: absolute;
    background-image: $blueGradient;
    z-index: -1;
    pointer-events: none;
  }
}

.split-divider {
  position: absolute;
  top: 0;
  left: -0.5 * $splitWidth;
  width: $splitWidth;
  height: 100%;
  pointer-events: none;
  fill: $splitBackgroundDark;
}

.split-background {
  padding-left: (0.5 * $splitWidth) +  (2 * $gutter);
}

.split-right {
  position: relative;
  overflow: visible;
  padding-right: $gutter;
  z-index: 0;

  &:after {
    position: absolute;
    content: "";
    left: (0.5 * $splitWidth);
    top: 0;
    width: 100vw;
    height: 100%;
    background-color: $splitBackgroundDark;
    z-index: -1;
  }
}

.bg-people-dark-grey {
  background-color: #1E232D;
  background-image:
    url('/images/light-graph-2.png'),
    url('/images/coders.jpg');
  background-repeat: no-repeat;
  background-size: contain, cover;
  background-position: center bottom;
}

.bg-blue-gradient {
  background-image: $blueGradient;
}

.bg-brains-gradient {
  background-image:
    url('/images/big-brain.png'),
    url('/images/light-graph-1.png'),
    $blueGradient;
  background-repeat: no-repeat;
  background-size: 17rem, contain, auto;
  background-position: right 15% center, center top, top left;
}

@media screen and (max-width: 840px) {
  .bg-brains-gradient {
    background-size: 30%, 1000px 150px, auto;
    background-position: right 20% center, right top, top left;
  }
  .bg-people-dark-grey {
    background-size: 1000px 150px, auto;
  }
}
