@import "./_variables.scss";
@import "./tachyons.scss";
@import "./globals.scss";
@import "./tachyons-custom.scss";

$headerRadius: 2rem;

.header {
  // border-radius: 0 0 50% 50%  / '${$headerRadius}';
  // margin-bottom: 0 - $headerRadius;

  h1,
  h2,
  h3 {
    @extend .white;
  }

  h1 {
    @extend .ttu;
    @extend .mb5;
    @extend .tracked-light;
  }

  h3 {
    @extend .lh-copy;
    @extend .mb6;
  }
}

.header-spacer {
  height: $headerRadius;
}

.section-dark {
  h1,
  h2,
  h3,
  div,
  p {
    @extend .white;
  }
}

.quote-wrapper {
  blockquote {
    @extend .relative;
    @extend .flex;

    &:after,
    &:before {
      font-size: 5em;
      line-height: 100%;
      padding: 0;
      @extend .georgia;
      @extend .fs-normal;
      @extend .db;
      height: 0.3em;
    }

    &:before {
      content: "“";
      align-self: flex-start;
      @extend .mr2;
    }

    &:after {
      content: "”";
      align-self: flex-end;
      @extend .ml2;
    }

  }
}
