@import "./tachyons.scss";
@import "./globals.scss";

$headerRadius: 2rem;

.header {
  background-image: linear-gradient(270deg, #b4fcfe 0%, #9bcee0 16%, #83a2c2 33%, #6a77a5 50%, #504e89 66%, #34286d 83%, #130052 100%);
  // border-radius: 0 0 50% 50%  / '${$headerRadius}';
  // margin-bottom: 0 - $headerRadius;

  h1,
  h2,
  h3 {
    @extend .white;
  }

  h1 {
    @extend .ttu;
    @extend .mb5;
  }

  h3 {
    @extend .lh-copy;
  }
}

.header-spacer {
  border: 1px solid;
  height: $headerRadius;
  width: 100%;
}

.header-brain {
  width: 10rem;
  border: 1px solid;
}
