@import "./_variables.scss";

$toggleSize: 24px;
$heightIcon: $toggleSize;
$widthLine: $toggleSize;
$heightLine: 4px;
$halfHeightLine: $heightLine / 2;
$transitionTime: 0.3s;
$lineColor: white;
$focussedColor: RGBA(0,0,0,0.1);

$translateY1: ($toggleSize / 2) - $halfHeightLine;
$translateY3: -1 * (($toggleSize / 2) - $halfHeightLine);

.togglable-menu-container {
  position: relative;
}

.menu-toggler {
  height: $toggleSize;
  width: $toggleSize;
  position: relative;
  border: 0;
  cursor: pointer;
  border-radius: 2px;

  &:focus {
    outline: 0;
    box-shadow: 0 0 0px 5px $focussedColor;
    background: $focussedColor;

    &:checked {
      background: $focussedColor;
    }
  }
}

.menu-toggler-crosses {
  background: transparent;
  position: relative;
  pointer-events: none;
  height: $heightIcon;
  width: $widthLine;
  margin-right: -1 * $toggleSize;

  span {
    background: $lineColor;
    border-radius: ($heightLine / 2);
    display: block;
    height: $heightLine;
    left: 0;
    position: absolute;
    transition: all $transitionTime;
    width: $widthLine;
  }

  span:nth-child(1) { top: 0; }
  span:nth-child(2) { top: calc(50% - #{$halfHeightLine}); }
  span:nth-child(3) { top: calc(100% - #{$heightLine}); }
}

.togglable-menu-items {
  display: none;
  position: relative;
}

@media screen and (min-width: 30em) {
  .togglable-menu-items {
    display: flex;
  }
}

.menu-toggler:checked {
  display: block;
  background: transparent;
  border: 0;
}

.menu-toggler:checked + .togglable-menu {
  .togglable-menu-items {
    display: flex;
    min-width: 20em;
  }

  .menu-toggler-crosses {
    display: block;

    span:nth-child(1) { transform: translateY($translateY1) translateX(0) rotate(45deg); }
    span:nth-child(2) { opacity:0; }
    span:nth-child(3) { transform: translateY($translateY3) translateX(0) rotate(-45deg); }
  }

  .togglable-menu-items {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: $toggleSize + 8px;
    right: 0;
    background: black;
    align-items: flex-start;
  }

  ul {
    flex-direction: column;
    position: relative;
    width: 100%;
    padding: 0;
  }

  li {
    margin: 0;
    width: 100%;
  }

  li a {
    @extend .ph4;
    @extend .pv3;
    @extend .shadow--l2;
    @extend .f6;
    display: flex;
    align-items: center;
    width: 100%;
    background: black;
    cursor: pointer;
    transition: background .15s ease-in;
  }

  li a:hover {
    background: $fire;
  }
}
