@import "./_variables.scss";

// Custom styles in the spirit of Tachyons


.no-underline-hover:hover { text-decoration: none; }

.b--hover { border-bottom: 2px solid currentColor; }
.b--hover:hover { border-bottom: 2px dashed currentColor; }

// Colors
.almost-black { color: #1b1b1b; }
.bg-almost-black { background-color: #1b1b1b; }
.fire { color: $fire }
.bg-fire { background-color: $fire }
.bg-off-gray { background-color: #111824; }
.make-orange { filter: sepia(1) hue-rotate(-16deg); }


.br-curve-section {
  border-radius: 0 0 50% 50%  / 2rem;
  overflow: hidden;
}


// Text
.tracked-light { letter-spacing: .03em; }
.antialised { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale }
.lh-long { line-height: 1.75; }
.divider-center,
.divider {
  position: relative;
  &:before {
    content: "";
    display: block;
    width: 50px;
    height: 3px;
    background: currentColor;
    margin-right: auto;
    @extend .mb3;
  }
}

.divider-center {
  text-align: center;
  &:before {
    margin-left: auto;
  }
}


// Layout
.flex-grow-1 { flex-grow: 1; }
.flex-shrink-1 { flex-shrink: 1; }
.gutter-left { padding-left: $gutter; }
.gutter-right { padding-right: $gutter; }
.hidden { visibility: hidden }
.mnh3 { min-height: 4rem }
.mnh4 { min-height: 8rem }
.mnh5 { min-height: 16rem }

.mt-auto { margin-top: auto; }
.mvh-100 { min-height: 100vh; }
.mw10 { max-width: 128rem; }
.pa55 { padding: 6rem }
.pb1vh { padding-bottom: 15vh }
.pt1vh { padding-top: 15vh }
.w6 { width: 24rem }

// Interactions
.events-none { pointer-events: none; }

.shadow--l1 { box-shadow: 0 0 18px 10px rgba( 0, 0, 0, .05 ); }
.shadow--l2 { box-shadow: 0 5px 16px 8px rgba( 0, 0, 0, .1 ); }
.shadow--l3 { box-shadow: 0 40px 65px -24px rgba(0,0,0,.25); }
.shadow--l4 { box-shadow: 0 26px 40px -24px rgba(0,0,0,.2); }

.col-xs-6--paAuto {
  flex-basis: 50%;
  max-width: 50%;
  box-sizing: border-box;
  flex: 0 0 auto;
}

// ns
@media screen and (min-width: 30em) {
  .mt65-ns { margin-top: 10rem; }
}

// nsi
@media screen and (min-width: 45em) {
  .db-nsi { display: block; }
  .dn-nsi { display: none; }
  .df-nsi { display: flex; }
  .mt65-nsi { margin-top: 10rem; }
}

// l
@media screen and (min-width: 60em) {
  .mt65-l { margin-top: 10rem; }
  .off-left-l { padding-left: 1000px; margin-left: -1000px; }
  .off-right-l { padding-right: 1000px; margin-right: -1000px; }
  .w1-l { width: 1rem; }
  .w2-l { width: 2rem; }
  .w3-l { width: 4rem; }
  .w4-l { width: 8rem; }
  .w5-l { width: 16rem; }
  .w6-l { width: 32rem; }
}
