@import "./_variables.scss";

// Custom styles in the spirit of Tachyons

.no-underline-hover:hover { text-decoration: none; }

.fire { color: #EF5038 }

.bg-off-grey {
  background-color: #EFF3F7;
}

.bg-fire-gradient {
  background-image:
    url('/images/fire-graph-1.png'),
    linear-gradient(120deg, rgb(237, 47, 24) 0%, rgb(241, 71, 39) 16%, rgb(245, 89, 53) 33%, rgb(248, 106, 66) 50%, rgb(250, 122, 80) 66%, rgb(252, 137, 94) 83%, rgb(254, 151, 108) 100%);
  background-repeat: no-repeat;
  background-size: cover, auto;
}

.br-curve-section {
  border-radius: 0 0 50% 50%  / 2rem;
  overflow: hidden;
}

.mw10 { max-width: 128rem; }
.pt1vh { padding-top: 15vh }
.pb1vh { padding-bottom: 15vh }

.tracked-light { letter-spacing: .03em; }

.shadow--l1 {box-shadow: 0 0 18px 10px rgba( 0, 0, 0, .05 ); }
.shadow--l2 {box-shadow: 0 5px 16px 8px rgba( 0, 0, 0, .1 ); }


.col-xs-6--paAuto {
  flex-basis: 50%;
  max-width: 50%;
  box-sizing: border-box;
  flex: 0 0 auto;
}

.gutter-left {
  padding-left: $gutter;
}

.gutter-right {
  padding-right: $gutter;
}

.events-none {
  pointer-events: none;
}
